USE [HUMAN_WEB]
GO
/****** Object:  Table [EVALUACION].[ALTERNATIVA]    Script Date: 24/11/2015 03:43:44 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EVALUACION].[ALTERNATIVA](
	[NU_ID_ALTERNATIVA] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[NU_ID_PREGUNTA] [numeric](10, 0) NULL,
	[NU_NRO_ALTERNATIVA] [numeric](2, 0) NULL,
	[NU_DIVISION] [numeric](5, 0) NULL,
	[VC_DESC_ALTERNATIVA] [varchar](150) NULL,
	[VC_DESC_IMAGEN] [varchar](100) NULL,
	[CH_TIPO_ALTERNATIVA] [char](2) NULL,
	[CH_PRESENTACION] [char](2) NULL,
	[CH_ORIENTACION] [char](1) NULL,
	[VC_USR_REG] [varchar](25) NULL,
	[DT_FEC_REG] [datetime] NULL,
	[VC_USR_MOD] [varchar](25) NULL,
	[DT_FEC_MOD] [datetime] NULL,
 CONSTRAINT [PK_ALTERNATIVA] PRIMARY KEY CLUSTERED 
(
	[NU_ID_ALTERNATIVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EVALUACION].[PREGUNTA]    Script Date: 24/11/2015 03:43:44 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EVALUACION].[PREGUNTA](
	[NU_ID_PREGUNTA] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[NU_ID_PRUEBA_PARTE] [numeric](10, 0) NULL,
	[NU_NRO_PREGUNTA] [numeric](4, 0) NULL,
	[NU_DIVISION] [numeric](5, 0) NULL,
	[VC_INDICADOR_LETRA] [varchar](5) NULL,
	[VC_DESC_CRITERIO] [varchar](100) NULL,
	[VC_DESC_PREGUNTA] [varchar](3000) NULL,
	[VC_DESC_IMAGEN] [varchar](100) NULL,
	[CH_PRESENTACION] [char](2) NULL,
	[CH_ORIENTACION] [char](1) NULL,
	[VC_USR_REG] [varchar](25) NULL,
	[DT_FEC_REG] [datetime] NULL,
	[VC_USR_MOD] [varchar](25) NULL,
	[DT_FEC_MOD] [datetime] NULL,
 CONSTRAINT [PK_PREGUNTA] PRIMARY KEY CLUSTERED 
(
	[NU_ID_PREGUNTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EVALUACION].[PREGUNTA_ADICIONAL]    Script Date: 24/11/2015 03:43:44 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EVALUACION].[PREGUNTA_ADICIONAL](
	[NU_ID_PREGUNTA_ADICIONAL] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[NU_ID_PREGUNTA] [numeric](10, 0) NULL,
	[NU_NRO_ORDEN] [numeric](4, 0) NULL,
	[VC_INDICADOR_LETRA] [varchar](5) NULL,
	[VC_DESC_CRITERIO] [varchar](100) NULL,
	[VC_DESC_PREGUNTA_ADICIONAL] [varchar](3000) NULL,
	[VC_DESC_IMAGEN] [varchar](100) NULL,
	[VC_USR_REG] [varchar](25) NULL,
	[DT_FEC_REG] [datetime] NULL,
	[VC_USR_MOD] [varchar](25) NULL,
	[DT_FEC_MOD] [datetime] NULL,
 CONSTRAINT [PK_PREGUNTA_ADICIONAL] PRIMARY KEY CLUSTERED 
(
	[NU_ID_PREGUNTA_ADICIONAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EVALUACION].[PRUEBA]    Script Date: 24/11/2015 03:43:44 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EVALUACION].[PRUEBA](
	[NU_ID_PRUEBA] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[NU_ID_TIPO_PRUEBA] [numeric](18, 0) NULL,
	[VC_DESC_PRUEBA] [varchar](300) NULL,
	[VC_DESC_OBSERVACION] [varchar](300) NULL,
	[VC_USR_REG] [varchar](25) NULL,
	[DT_FEC_REG] [datetime] NULL,
	[VC_USR_MOD] [varchar](25) NULL,
	[DT_FEC_MOD] [datetime] NULL,
 CONSTRAINT [PK_PRUEBA] PRIMARY KEY CLUSTERED 
(
	[NU_ID_PRUEBA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EVALUACION].[PRUEBA_PARTE]    Script Date: 24/11/2015 03:43:44 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EVALUACION].[PRUEBA_PARTE](
	[NU_ID_PRUEBA_PARTE] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[NU_ID_PRUEBA] [numeric](10, 0) NULL,
	[VC_DESC_PRUEBA_PARTE] [varchar](300) NULL,
	[NU_TIEMPO_LIMITE_MIN] [numeric](4, 0) NULL,
	[VC_USR_REG] [varchar](25) NULL,
	[DT_FEC_REG] [datetime] NULL,
	[VC_USR_MOD] [varchar](25) NULL,
	[DT_FEC_MOD] [datetime] NULL,
 CONSTRAINT [PK_PRUEBA_PARTE] PRIMARY KEY CLUSTERED 
(
	[NU_ID_PRUEBA_PARTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [EVALUACION].[RESULTADO]    Script Date: 24/11/2015 03:43:44 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [EVALUACION].[RESULTADO](
	[NU_ID_RESULTADO] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[NU_ID_CANDIDATO] [numeric](18, 0) NULL,
	[NU_ID_CONSULTOR] [numeric](18, 0) NULL,
	[NU_ID_PUESTO] [numeric](18, 0) NULL,
	[NU_ID_PRUEBA_PARTE] [numeric](10, 0) NULL,
	[NU_ID_PREGUNTA] [numeric](10, 0) NULL,
	[NU_ID_ALTERNATIVA] [numeric](10, 0) NULL,
	[NU_ID_PREGUNTA_ADICIONAL] [numeric](10, 0) NULL,
	[VC_DESC_NOTA] [varchar](50) NULL,
 CONSTRAINT [PK_RESULTADO] PRIMARY KEY CLUSTERED 
(
	[NU_ID_RESULTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [EVALUACION].[ALTERNATIVA]  WITH CHECK ADD  CONSTRAINT [FK__ALTERNATI__NU_ID__39237A9A] FOREIGN KEY([NU_ID_PREGUNTA])
REFERENCES [EVALUACION].[PREGUNTA] ([NU_ID_PREGUNTA])
GO
ALTER TABLE [EVALUACION].[ALTERNATIVA] CHECK CONSTRAINT [FK__ALTERNATI__NU_ID__39237A9A]
GO
ALTER TABLE [EVALUACION].[PREGUNTA]  WITH CHECK ADD  CONSTRAINT [FK__PREGUNTA__NU_ID___336AA144] FOREIGN KEY([NU_ID_PRUEBA_PARTE])
REFERENCES [EVALUACION].[PRUEBA_PARTE] ([NU_ID_PRUEBA_PARTE])
GO
ALTER TABLE [EVALUACION].[PREGUNTA] CHECK CONSTRAINT [FK__PREGUNTA__NU_ID___336AA144]
GO
ALTER TABLE [EVALUACION].[PREGUNTA_ADICIONAL]  WITH CHECK ADD  CONSTRAINT [FK__PREGUNTA___NU_ID__36470DEF] FOREIGN KEY([NU_ID_PREGUNTA])
REFERENCES [EVALUACION].[PREGUNTA] ([NU_ID_PREGUNTA])
GO
ALTER TABLE [EVALUACION].[PREGUNTA_ADICIONAL] CHECK CONSTRAINT [FK__PREGUNTA___NU_ID__36470DEF]
GO
ALTER TABLE [EVALUACION].[PRUEBA]  WITH CHECK ADD  CONSTRAINT [FK__PRUEBA__NU_ID_TI__2DB1C7EE] FOREIGN KEY([NU_ID_TIPO_PRUEBA])
REFERENCES [dbo].[SE.TIPO_PRUEBA] ([NU_ID_TIPO])
GO
ALTER TABLE [EVALUACION].[PRUEBA] CHECK CONSTRAINT [FK__PRUEBA__NU_ID_TI__2DB1C7EE]
GO
ALTER TABLE [EVALUACION].[PRUEBA_PARTE]  WITH CHECK ADD  CONSTRAINT [FK__PRUEBA_PA__NU_ID__308E3499] FOREIGN KEY([NU_ID_PRUEBA])
REFERENCES [EVALUACION].[PRUEBA] ([NU_ID_PRUEBA])
GO
ALTER TABLE [EVALUACION].[PRUEBA_PARTE] CHECK CONSTRAINT [FK__PRUEBA_PA__NU_ID__308E3499]
GO
ALTER TABLE [EVALUACION].[RESULTADO]  WITH CHECK ADD FOREIGN KEY([NU_ID_CANDIDATO])
REFERENCES [dbo].[SE.USUARIO] ([NU_ID_USUARIO])
GO
ALTER TABLE [EVALUACION].[RESULTADO]  WITH CHECK ADD FOREIGN KEY([NU_ID_CONSULTOR])
REFERENCES [dbo].[SE.USUARIO] ([NU_ID_USUARIO])
GO
ALTER TABLE [EVALUACION].[RESULTADO]  WITH CHECK ADD FOREIGN KEY([NU_ID_PUESTO])
REFERENCES [dbo].[SE.PUESTO] ([NU_ID_PUESTO])
GO
ALTER TABLE [EVALUACION].[RESULTADO]  WITH CHECK ADD FOREIGN KEY([NU_ID_PRUEBA_PARTE])
REFERENCES [EVALUACION].[PRUEBA_PARTE] ([NU_ID_PRUEBA_PARTE])
GO
ALTER TABLE [EVALUACION].[RESULTADO]  WITH CHECK ADD  CONSTRAINT [FK__RESULTADO__NU_ID__3FD07829] FOREIGN KEY([NU_ID_PREGUNTA])
REFERENCES [EVALUACION].[PREGUNTA] ([NU_ID_PREGUNTA])
GO
ALTER TABLE [EVALUACION].[RESULTADO] CHECK CONSTRAINT [FK__RESULTADO__NU_ID__3FD07829]
GO
ALTER TABLE [EVALUACION].[RESULTADO]  WITH CHECK ADD  CONSTRAINT [FK__RESULTADO__NU_ID__40C49C62] FOREIGN KEY([NU_ID_ALTERNATIVA])
REFERENCES [EVALUACION].[ALTERNATIVA] ([NU_ID_ALTERNATIVA])
GO
ALTER TABLE [EVALUACION].[RESULTADO] CHECK CONSTRAINT [FK__RESULTADO__NU_ID__40C49C62]
GO
ALTER TABLE [EVALUACION].[RESULTADO]  WITH CHECK ADD FOREIGN KEY([NU_ID_PREGUNTA_ADICIONAL])
REFERENCES [EVALUACION].[PREGUNTA_ADICIONAL] ([NU_ID_PREGUNTA_ADICIONAL])
GO
