@{
    ViewBag.Title = "Sln23C | Gestión de la Calidad";
    Layout = "~/Areas/Sistemas/Views/MPSistemasSitio.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            SISTEMA DE GESTIÓN DE LA CALIDAD
            <small>Seguimiento y control</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.RouteUrl("V_SistemasSitio")"><i class="fa fa-share-alt"></i> Sistemas</a></li>
            <li class="active">Gestión de la calidad</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box">
                    <div class="box-header">
                    <h3 class="box-title"><i class="glyphicon glyphicon-cog" style="color:#C1BEBB;"></i> Configuraciones y herramientas</h3>
                    </div>
                    <div class="box-body">
                        <p>Utilice estás configuraciones bajo las reglas del sistema, se recomienda que sólo accedan a estas funciones los usuarios administradores o desarrolladores.</p>
                        
                        <div class="col-md-6">

                            @*open>>> Información: Enlaces del módulo de sistemas y seguridad*@
                                <div class="col-md-6" style="text-align:center;font-size:55px;color:#D2D61E;">
                                    <a href="#"><i class="fa fa-key"></i></a>
                                </div>
                                <div class="col-md-6">
                                    <h4 style="color:green">Sistemas y seguridad</h4>
                                    <a href="#">
                                        Buscar y gestionar problemas
                                    </a>
                                    <br />
                                    <a href="@Url.RouteUrl("V_MensajeDelSistema")">
                                        Personalizar mensajes del sistema
                                    </a>
                                    <br />
                                    <a href="#">
                                        Grupo de estándares
                                    </a>
                                    <br />
                                    <a href="#">
                                        Estándares
                                    </a>
                                    <br /><br />
                                </div>
                            @*close>> Información*@
                            
                            @*open>>> Información: Enlaces del módulo de procesos*@
                                <div class="col-md-6" style="text-align:center;font-size:55px;color:#618C65;">
                                    <a href="#"><img src="~/Temas/Trans01/dist/img/ProcesosImg.png" width="120"/></a>
                                </div>
                                <div class="col-md-6">
                                    <h4 style="color:green">Procesos</h4>
                                    <a href="#">
                                        Identificación de procesos
                                    </a>
                                    <br />
                                    <a href="#">
                                        Descripción de procesos
                                    </a>
                                    <br />
                                    <a href="#">
                                        Implementación de procesos
                                    </a>
                                    <br />
                                    <a href="#">
                                        Procesos
                                    </a>
                                    <br /><br />
                                </div>
                            @*close>> Información*@

                        </div>

                        <div class="col-md-6">

                            @*open>>> Información: Enlaces del módulo de cuentas y privilegios*@
                                <div class="col-md-6" style="text-align:center;font-size:55px;color:skyblue;">
                                    <a href="#"><i class="fa fa-group"></i></a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#"><h4 style="color:green">Cuentas y privilegios</h4></a>
                                    <a href="#">
                                        Administrar cuentas del sistema
                                    </a>
                                    <br />
                                    <a href="#">
                                        Gestionar privilegios
                                    </a>
                                    <br /><br />
                                </div>
                            @*close>> Información*@

                            @*open>>> Información: Enlaces del módulo de mejora continua*@
                                <div class="col-md-6" style="text-align:center;font-size:55px;color:#618C65;">
                                    <a href="#"><i class="fa fa-repeat"></i></a>
                                </div>
                                <div class="col-md-6">
                                    <h4 style="color:green">Mejora continua</h4>
                                    <a href="#">
                                        Gestionar requerimientos
                                    </a>
                                    <br />
                                    <a href="#">
                                        Lecciones aprendidas
                                    </a>
                                    <br /><br />
                                </div>
                            @*close>> Información*@

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
